*{
    margin: 0;
    padding: 0;

}
body{
    background-color: cornsilk;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
   max-width: 1200px;
    background-color: gainsboro;
margin: 0 auto;
padding: 20px;

}

.profile-img{
    width: 100px;
    height: 120px;
    border: 3.5px solid white;
    border-radius: 50%;
    float: left;
}

.bio{
float: left;
padding: 30px;
}
h1,h2,h3,h4,h5,h6{

    color:rgb(97, 97, 0);
}
.add{
    float: right;
    padding: 30px;

}

.add a{
    color: olivedrab;
    text-decoration: none;
    font-weight: bold;

}
.add a:hover{
    text-decoration: underline;
    color: teal;
}
.div-clear{
    clear: both;  
}
hr{
    border: solid black 2px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/* personal section */

.left-div{
    width: 30%;
    float: left;
    font-size: 12px;
    
}
.right-div{
    width: 70%;
   float: right;
    font-size: 12px;
    text-align: justify;
}
.common-hr{
    border: solid 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
    padding: ;
}